<div style="height: 90px;"></div>
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/header.png" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      <div class="carousel-caption">
        <p class="h1-responsive">
          Силно вярвам, че информацията поместена в този сайт ще Ви бъде полезна, и че ще успея да Ви убедя в огромното значение на профилактиката.
        </p>
        <p>Превенцията и подържащата терапия са част от всяко лечение и са задължителни в практиката ми.</p>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/header.png" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      <div class="carousel-caption">
        <p class="h1-responsive">
          Смятам, че материално по-изгодно е да лекуваме кариес днес, отколкото възпален и болезнен нерв утре. По-лесно е да поставим корона днес, отколкото да възстановявяме с мост дефекта на зъбната редица утре.
        </p>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../../assets/header.png" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      <div style="background-color: black; ">
      <div class="carousel-caption">
          <p class="h1-responsive">
          Здравейте. Аз съм Д-р Симона Петкова и имам удоволствието да Ви поканя в стоматологичен кабинет "СИСИ - ДЕНТ".
          </p>
          <p>
            Техниката и материалите са съвременни. Работя с внимание към детайла и персонално отношение към всеки пациент. Акценти в клиниката са качественото и достъпно лечение
          </p>
        </div>
    </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>