
<div class="parent-nav">
<nav>
        <div class="logo">
            <div style="float: left;">
                <img src="../../../assets/logo.png" />
            </div>
            <div style="margin-top: 25px;">
                <p>Д-р.Симона Петкова</p>
            </div>
        </div>
        
        <ul class="nav-links" >
            <li><a href="/services" class="hvr-underline-from-left" >УСЛУГИ</a></li>
            <li><a href="/prices" class="hvr-underline-from-left" >ЦЕНИ</a></li>
            <li><a href="/products" class="hvr-underline-from-left" >ПРОДУКТИ</a></li>
            <li><a href="/contacts" class="hvr-underline-from-left" >КОНТАКТИ</a></li>
        </ul>
    
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <div class="phone">
            <div>
                <i class="far fa-address-book" style="color: #dc2271; font-size: 30px;"></i>
            </div>
            <div style="width: 10px;"></div>
            <div style="width: 100px; margin-top: 10px;">
                <p style="color: #dc2271;">ЗАПАЗИ ЧАС
                    0878325959</p>
            </div>
            <div style="width: 50px;"></div>
            <div>
                <i class="far fa-clock" style="color: #dc2271; font-size: 30px;"></i>
            </div>
            <div style="width: 10px;"></div>
            <div style="width: 120px;  margin-top: 10px;">
                <p style="color: #dc2271;">РАБОТНО ВРЕМЕ
                    9:00-18:00</p>
            </div>
        </div>
    </nav>
</div>

