<br><br><br>

<div class="page-title" style="font-size: 25px;">
    <p>Цени на <strong>стоматологичните услуги</strong> , предлагани в кабинета.</p>
    <h3>(Цените са базови за рутинните <strong>зъболекарски дейности.)</strong></h3>
</div>
<br>
<hr class="my-7">
<br>
<table class="table mx-auto w-auto">
    <thead>
        <tr>
            <th scope="col">ПРОФИЛАКТИКА</th>
            <th scope="col">ЦЕНА</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp; &nbsp;1. преглед</td>
            <td>&nbsp;30 лв.</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th scope="col">УПОЙКИ</th>
            <th scope="col">ЦЕНА</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp; &nbsp;1. инфилтрационна </td>
            <td>&nbsp;30 лв.</td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp;2. проводно упойка </td>
            <td>&nbsp;30 лв.</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th style="text-align: left;"><strong>&nbsp;ЛЕЧЕНИЕ НА КАРИЕС<br></strong></th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;&nbsp; 1. естетична пломба от фотополимер</td>
            <td>&nbsp;85 - 95 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 2. парапулпарен щифт</td>
            <td>&nbsp;20 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 3. коренов щифт</td>
            <td>&nbsp;30 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 4. отстраняване на коренов щифт</td>
            <td>&nbsp;30 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 5. изграждане на счупен или сино разрушен зъб&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;90 -110 лв.&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 6. поставяне на силант</td>
            <td>&nbsp;30 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 7. бондинг</td>
            <td>&nbsp;120 - 160 лв.</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th style="text-align: left;"><strong>&nbsp;ЛЕЧЕНИЕ НА КОРЕНОВИ КАНАЛИ<br></strong></th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;&nbsp; 1. лечение на коренов канал 1бр.</td>
            <td>&nbsp;80 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 2. прелечение на коренов канал 1бр.</td>
            <td>&nbsp;95 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 3. лечение на коренов канал при пулпит на резец (еднокоренов зъб) &nbsp; &nbsp; &nbsp;</td>
            <td>&nbsp;80 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 4. лечение на коренови канали при пулпит на предкътник ( два канала)&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;120 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 5. лечение на коренови канали при пулпит на кътник ( три или четри канала)&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;180 лв.</td>
        </tr>
    </tbody>
    
    <thead>
        <tr>
            <th style="text-align: left;"><strong>&nbsp;ПОЧИСТВАНЕ НА ЗЪБЕН КАМЪК</strong></th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;&nbsp; 1. цялостно почистване на зъбен камък</td>
            <td>&nbsp;100 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 2. почистване на 1 бр. зъб от зъбен камък</td>
            <td>&nbsp; &nbsp;10 лв.</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th style="text-align: left;"><strong>&nbsp;ХИРУРГИЯ - ВАДЕНЕ НА ЗЪБИ</strong></th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;&nbsp; 1. изваждане (екстракция) на еднокоренов зъб</td>
            <td>&nbsp;40 - 50 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 2. изваждане (екстракция) на многокоренов зъб</td>
            <td>&nbsp;60 - 80 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 3. затруднена екстракция на зъб (вкл. мъдрец)</td>
            <td>&nbsp;90 - 250 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 4. кюретаж на рана, поставяне на Alvogyl</td>
            <td>&nbsp;20 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 5. кюретаж на джоб</td>
            <td>&nbsp;30 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 6. лазер терапия</td>
            <td>&nbsp;10 -30 лв.</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th style="text-align: left;"><strong>&nbsp;ЗЪБНИ КОРОНКИ И МОСТОВЕ - ОРТОПЕДИЯ</strong></th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;&nbsp; 1. временна пластмасова коронка</td>
            <td>&nbsp;40 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 2. кепе за отпечатък</td>
            <td>&nbsp;30 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 3. отстраняване на корона</td>
            <td>&nbsp;30 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 4. металокерамична корона - безпрагова</td>
            <td>&nbsp;230 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 5. металокерамична корона - прагова</td>
            <td>&nbsp;260 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 6. изцяло керамична корона&nbsp; ( прескерамика )</td>
            <td>&nbsp;400 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 7. циркониева корона</td>
            <td>&nbsp;460 - 500лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 8. керамична фасета</td>
            <td>&nbsp;440 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 9. циркониев пинлей</td>
            <td>&nbsp;240 лв.</td>
        </tr>
        <tr>
            <td>&nbsp; 10. пинлей</td>
            <td>&nbsp;100 лв.</td>
        </tr>
        <tr>
            <td>&nbsp; 11. залепване на разлепена корона</td>
            <td>&nbsp;30 лв.</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th style="text-align: left;"><strong>&nbsp;ЗЪБНИ ИМПЛАНТИ</strong></th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;&nbsp; 1. поставяне на имплант с надстройка</td>
            <td>&nbsp;от 1000 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 2. коронка върху имплант</td>
            <td>&nbsp;300 лв.</td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th style="text-align: left;"><strong>&nbsp;ЗЪБНИ ПРОТЕЗИ - ОРТОПЕДИЯ</strong></th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;&nbsp; 1. плакова протеза</td>
            <td>&nbsp;400 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 2. протеза от мека, хопоалергична пластмаса</td>
            <td>&nbsp;650 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 3. поправка на протеза</td>
            <td>&nbsp;100 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 4. едностранна ставна протеза ( моноредуктор )</td>
            <td>&nbsp;от 1000 лв.</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 5. фрезпротеза</td>
            <td>&nbsp;от 1000 лв.&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp; 6. протеза на магнити</td>
        <td>
            <p>&nbsp;от 1600 лв.</p>
        </td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th><strong>&nbsp;ЕСТЕТИКА</strong></th><th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;&nbsp; 1. избелване на зъби</td>
            <td>&nbsp;300 лв.</td>
        </tr>
    </tbody>
</table>
<br><br>