<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: #dc2271;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h4 class="mb-0">Намерете ни в социалните мрежи!</h4>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
  
          <!-- Content -->
          <h4 class="text-uppercase font-weight-bold">Д-р. Симона Петкова</h4>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
              Съвременно обурудван дентален кабинет, ориентиран към цялостно възстановяване, 
              в това число: консервативно зъболечение и ендодонтия, протетична дентална медицина, 
              орална хирургия и имплантология, пародонтология.
        </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="width: 150px;">

          <!-- Links -->
          <h4 class="text-uppercase font-weight-bold">Услуги</h4>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Имплантология</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Консервативно зъболечение</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Детска дентална медицина</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Диагностика</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Ортодонтия</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Протетика</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h4 class="text-uppercase font-weight-bold">Контакти</h4>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> София ул. цар Борис III 163</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> simona.petkova@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> 0878 32 59 59</p>
          <p>
            <i class="fas fa-print mr-3"></i> 0878 98 77 52</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
      <a class="dark-grey-text" href="http://ivoaleksandrov.com/index.html"> IvoAleksandrov.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->