<br><br><br>
<div class="page-title">
    <p>Предлагани услуги</p>
</div>
<br>
<hr class="my-7">
<div class="container">
    <div class="row ">
      <div class="col-sm">
            <div class="services-macros">
                <div>
                    <i class="fas fa-tooth" style="color: #dc2271; font-size: 30px;"></i>
                </div>
                <div style="margin-left: 20px;">
                    <a href="http://www.dr-smily.com/cherry-services/implants/">
                        Имплантология
                        </a>
                </div>
            </div>
      
            <div class="service-descr">
                Зъбните импланти са правилното решение, което ще ви помогне да възстановите оралното здраве и да подмладите усмивката си.
            </div>
            <hr class="my-5">
        </div>
        <div class="col mx-1">
            <div class="services-macros">
                <div>
                    <i class="fas fa-tooth" style="color: #dc2271; font-size: 30px;"></i>
                </div>
                <div style="margin-left: 20px;">
                    <a href="http://www.dr-smily.com/cherry-services/restorative-solutions/">
                        Консервативно зъболечение
                    </a>
                </div>
            </div>
            <div class="service-descr">
                Пломби, кореново лечение (ендодонтия), фотополимерни фасети.
            </div>
            <hr class="my-5">
        </div>
        <div class="col">
            <div class="services-macros">
                <div>
                    <i class="fas fa-tooth" style="color: #dc2271; font-size: 30px;"></i>
                </div>
                <div style="margin-left: 20px;">
                    <a href="http://www.dr-smily.com/cherry-services/pediatric-dentistry/">
                        Детска  дентална медицина
                    </a>
                </div>
            </div>
            <div class="service-descr">
                Периодът на живот от раждането до юношеството е може би най-важният по отношение на здравето на човека.
            </div>
            <hr class="my-5">
        </div>      
        <div class="col">
            <div class="services-macros">
                <div>
                    <i class="fas fa-tooth" style="color: #dc2271; font-size: 30px;"></i>
                </div>
                <div style="margin-left: 20px;">
                <a href="http://www.dr-smily.com/cherry-services/diagnostics/">
                    Диагностика
                </a>
                </div>
            </div>
            <div class="service-descr">
                Зъбно почистване, Флуоризирането и силанизирането - част от съвременната превантивна дентална медицина!
            </div>
            <hr class="my-5">
        </div>
        <div class="col">
            <div class="services-macros">
                <div>
                    <i class="fas fa-tooth" style="color: #dc2271; font-size: 30px;"></i>
                </div>
                <div style="margin-left: 20px;">
                <a href="http://www.dr-smily.com/cherry-services/orthodontics/">
                    Ортодонтия
                </a>
                </div>
            </div>
            <div class="service-descr">
                Правилната подредба на зъбите е в основата на дълготрайността на дъвкателения апарат.
            </div>
            <hr class="my-5">
        </div>
        <div class="col">
            <div class="services-macros">
                <div>
                    <i class="fas fa-tooth" style="color: #dc2271; font-size: 30px;"></i>
                </div>
                <div style="margin-left: 20px;">
                <a href="http://www.dr-smily.com/cherry-services/prostetics/">
                    Протетика
                </a>
                </div>
            </div>
            <div class="service-descr">
                Съвременното протезиране предлага разнообразна гама от фиксирани протези (мостове), снемаеми конструкции (снемаеми протези) и комбинирано протезиране.
            </div>
            <hr class="my-5">
        </div>
    </div>
</div>
<br><br>            
            
            
            
  
  
  
  
  
  
  
  
  
  
  
  
  